*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


[class*=__container] {
	width: 100rem;
	margin: 0 auto;
	padding: 0 2rem;
 }

 html {
	font-size: 62.5%;
}


 body {
	color: #202020;
	background-color: #f0f0f0;
}

input[type=radio] {
	display: none;
}

 .main {
	height: 100vh;
}

.accordion {
	display: flex;
	justify-content: center;
	padding: 7rem 0;
	
}

.accordion__body {
	padding: 1.5rem 2rem;
	border-radius: .8rem;
	background-color: #b6b6b6a8;
}

.accordion__title {
	font-size: 4.5rem;
	font-weight: 900;
}

.meme__item {
	display: flex;
	flex-direction: column;
	margin: 2rem 0 0;
}
.meme__label {
	padding: 1rem 0;
	border-top: .1rem solid #1255c91a;
}
.meme__body {
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	font-weight: 400;
}
.meme__title {
	color: #353535;
	font-size: 4rem;
	transition: all .3s ease-in;
}
.meme__icon {
	color: #cacaca;
	transform: rotate(0);
	opacity: 1;
	transition: all .3s ease-in;
}
.meme__icn {
	width: 40px;
	height: 40px;
	transform: rotate(0);
	opacity: 1;
	transition: all .3s ease-in;
}


.meme__image {
	display: flex;
	justify-content: center;
	height: 0;
	margin: 0;
	padding: 0;
	border-radius: .8rem;
	height: 0;
	opacity: 0;
	transition: all .2s ease-in;
	
}
.meme__img {
	width: 300px;
	height: 300px;
	max-width: 40rem;
	object-fit: contain;
	opacity: 0;
	filter: brightness(1);
	transition: all .3s ease-in;
}


input[type=radio]:checked + .meme__label > .meme__image {
	height: 30rem;
	opacity: 1;
}

input[type=radio]:checked + .meme__label .meme__img {
	opacity: 1;
}

input[type=radio]:checked + .meme__label .meme__title {
	color: #000000;
}

@media (min-width: 821px) {
	.meme__label {
		 cursor: pointer;
	}

	.meme__title{
		 color: #858585;
		 transition: all .3s ease-in;
	}
	
	.meme__icon {
		 opacity: 0;
	}

	.meme:hover .meme__title {
		 color: #313131;
	}

	.meme:hover .meme__icon {
		 opacity: 1;
	}
	
	.meme__label:hover .meme__icon {
		 transform: rotate(135deg);
	}
	
	.meme__label:hover .meme__image {
		 height: 45rem;
		 opacity: 1;
	}
	
	input[type=radio]:active + .meme__label .meme__icon {
		 transform: rotate(135deg);
		 color: #cacaca;
	}

	input[type=radio]:active + .meme__label .meme__title {
		 color: #df7b0e;
	}

	input[type=radio]:active + .meme__label .meme__icon {
		 color: #df7b0e;
	}

	input[type=radio]:active + .meme__label .meme__image .meme__img {
		 filter: brightness(.4)
	}
	
	.meme__label:hover .meme__img {
		 opacity: 1;
		 width: 100%;
	}
}

@media (max-width: 820px) { 

	.accordion__title {
		 font-size: 3.5rem;
	}

	.meme__body {
		 font-size: 2rem;
	}

	.meme__title {
		font-size: 3rem;
	}


	.meme__icon {
		opacity: 0;
  }

	input[type=radio]:checked + .meme__label .meme__icon {
		 transform: rotate(225deg);
		 opacity: 1;
	}
}



@media (max-width: 400px) { 
	.container {
		 padding: 0;
	}

	.meme__img {
		width: 200px;
		height: 200px;
	}

	.meme__title {
		font-size: 2rem;
		
	}
	
	.accordion__title {
		 font-size: 2.7rem;
	}

	.meme__body {
		 font-size: 1.5rem;
		 padding: 0;
	}
	
	input[type=radio]:checked + .meme__label > .meme__image {
		 height: 20rem;
	}
}

